//BARRE DE RECHERCHE HEADER INDEX
.search-bar {
    background: $background-color-primary;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 900;
    width: 150px;
    height: 100%;
    padding: 15px;
}