* {
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
}

html {
    scroll-behavior: smooth;
}

#main {
    margin: auto;
    max-width: 1440px;
}

body {
    border: #fff solid 1px;
    
    a {

        text-decoration: none;
        color: inherit;
    }
}