// Font Family
$title-family: "shrikhand";
$text-family: "roboto";

// Font Size
$logo-size: 1.8rem;
$logo-footer-size: 1.1rem;

// Colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$white: #fff;
$black: #000;
$color-icon: #929292;

// Background Colors
$background-color-primary: rgb(230, 230, 230);
$background-color-secondary: rgb(245, 245, 245);
$background-color-footer: rgb(48, 48, 48);


// Shadows
$shadow: 0 5px 8px 0 #ccc;


// Positions
$flex : flex;
$center: center;
$margin-title: 0 0 0 20px;
$padding-bloc: 50px 0;

//ANIMATIONS
$transform: all 400ms ease-in-out;

// Divers
$round-buton: 25px;
